/*
Style css pagina inicial
*/
body {
	background-color: #121212;
	color: #fff;
	font-family: Arial, sans-serif;
}

h1 {
	font-size: 2.5em;
	margin-bottom: 20px;
    text-align: center;
}

form {
	max-width: 600px;
	margin: 0 auto;
}

label {
	display: block;
	font-size: 1.2em;
	margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
select {
	padding: 10px;
	border-radius: 5px;
	border: none;
	background-color: #292929;
	color: #fff;
	font-size: 1.2em;
	width: 100%;
	margin-bottom: 20px;
}

input[type="radio"] {
	margin-right: 10px;
}

input[type="submit"] {
	background-color: #f44336;
	color: #fff;
	font-size: 1.2em;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
	background-color: #d32f2f;
}

/* Dark mode */
body.dark-mode {
	background-color: #000;
	color: #fff;
}

input[type="text"],
input[type="email"],
select {
	background-color: #383838;
}

label,
input[type="radio"] {
	color: #fff;
}

input[type="submit"] {
	background-color: #00bcd4;
	color: #fff;
}

input[type="submit"]:hover {
	background-color: #008c9e;
}